services:
  hightalent_app:
    build: .
    container_name: hightalent_app
    ports:
      - "8001:80"
    volumes:
      - ./app:/code/app
    restart: always
    env_file:
      - .env
    depends_on:
      - db
  
  db:
    image: postgres:15
    container_name: db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./app/db:/docker-entrypoint-initdb.d

volumes:
  db_data: